<script>
    $(document).ready(function () {
        var gsDataUrls = [];
        {% if site.google_scholar_stats_use_cdn %}
        gsDataUrls.push('https://cdn.jsdelivr.net/gh/{{ site.repository }}@google-scholar-stats/gs_data.json');
        {% endif %}

        gsDataUrls.push('https://raw.githubusercontent.com/{{ site.repository }}/google-scholar-stats/gs_data.json');

        var renderStats = function (data) {
            var setText = function (id, value) {
                var el = document.getElementById(id);
                if (el) el.innerHTML = value;
            };
            setText('total_cit', data['citedby']);
            setText('h_index', data['hindex']);
            var citationEles = document.getElementsByClassName('show_paper_citations')
            Array.prototype.forEach.call(citationEles, element => {
                var paperId = element.getAttribute('data')
                var publication = data['publications'] && data['publications'][paperId]
                if (publication) {
                    element.innerHTML = '| Citations: ' + publication['num_citations'];
                }
            });
        };

        var loadStats = function (index) {
            $.getJSON(gsDataUrls[index], renderStats).fail(function () {
                if (index + 1 < gsDataUrls.length) loadStats(index + 1);
            });
        };

        loadStats(0);
    })
</script>
